.container{
   margin-top: 10px;
   width: 80%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
   padding: 20px;
}

.weather{
   padding: 20px;
   box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
   box-sizing: border-box;
   width: 60%;
   float: right;
}

input[type=text]{
   width: 50%;
   display: inline-block;
   padding: 5px;
   font-size: 20px;
   outline: none;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border: none;
   padding-left: 10px;
}
input[type=submit]{
   border-radius: 10px;
   margin-left: 10px;
   display: inline-block;
   padding: 5px 10px;
   font-size: 20px;
   outline: none;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border: none;
   transition: 0.2s;
   color: #666;
}
input[type=submit]:hover{
   color: white;
   background-color: rgb(72, 204, 32);
}

.showWeather{
   margin-top: 10px;
}
.showWeather p{
   font-size: 20px;
   letter-spacing: 3px;
}

.userData{
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
   float: left;
   width: 35%;
}
.userData p{
   font-size: 20px;
   letter-spacing: 3px;
}