*{
   padding: 0;
   margin: 0;
}
@font-face {font-family: "Old London"; src: url("//db.onlinewebfonts.com/t/9cbfdc9a1bca2003be9d97dae8431b0c.eot"); src: url("//db.onlinewebfonts.com/t/9cbfdc9a1bca2003be9d97dae8431b0c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9cbfdc9a1bca2003be9d97dae8431b0c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9cbfdc9a1bca2003be9d97dae8431b0c.woff") format("woff"), url("//db.onlinewebfonts.com/t/9cbfdc9a1bca2003be9d97dae8431b0c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9cbfdc9a1bca2003be9d97dae8431b0c.svg#Old London") format("svg"); }
h1{
   font-family: "Old London";
   text-align: center;
   font-size: 72px;
}


