<div class="container">
   <form novalidate #f='ngForm' method="post">

      <label>Naslov vijesti</label>
      <input type="text" required [(ngModel)]="editArticle.headline" name="headline">

      <label>Text članka</label>
      <textarea [(ngModel)]="editArticle.story" name="story" required></textarea>

      <label>Kategorija</label>
      <select [(ngModel)]="editArticle.category" name="category" required name="category">
         <option *ngFor="let c of categories" [value]="c.category">{{c.category}}</option>
      </select>

      <label>Url slike</label>
      <input type="text" required [(ngModel)]="editArticle.imgUrl" name="imgUrl">
      <img src={{editArticle.imgUrl}} *ngIf="editArticle.imgUrl.length>0">

      <input type="submit" value="Uredi" (click)="edit()" [disabled]="!f.valid">
   </form>
</div>
<div class="commentSection" *ngFor="let c of comments; let i = index">
   <p>by: <b>{{getUserById(c.userId)}}</b> at: {{c.datePublished|date}}</p>
   <hr>
   <p>{{c.comment}}</p><hr>
   <button (click)="deleteComment(i)">Delete</button>
</div>